<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{ nav.html::navbar }"></div>


    
<div class="card" th:each="i : ${items}">
    <img src="https://placehold.co/300">
    <div>

        <a th:href="@{ '/detail/' + ${i.id} }">
            <h4 th:text="${i.title}">바지</h4>
        </a>
        <p th:text="${i.price}">7억</p>
        <a th:href="@{ '/edit/' + ${i.id} }">✏️</a>
        <span th:onclick="fetch('/item?id=[[${i.id}]]', { method : 'DELETE' } ) .then(r => r.text()) .then(() => { location.reload(); })">🗑️</span>
    </div>
</div>
    
<div>-->
<!--    <div>-->
<!--            <h4 th:text="${ items.get(0).title }">바지</h4>-->
<!--            <h4 th:text="${ items.get(0).price }">7억</h4>-->
<!--    </div>-->
<!--</div>
</body>
    
</html>


//////////////////////
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href=”/main.css” rel=”stylesheet”>
</head>
<body>

<div class="card" th:each="i : ${items}">
    <img src="https://placehold.co/300">
    <div>
        <h4 th:text="${i.title}"></h4>
        <p>7억</p>
    </div>
</div>

</body>
</html>



////////////////////////////////////
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="/main.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{ nav.html::navbar }"></div>

  <form action="/search" method="POST">
    <input name="searchText" style="display : inline">
    <button>검색</button>
  </form>
  
<div class="card" th:each="i : ${items}">
  <img src="https://placehold.co/300">
  <div>
  <a th:href="@{ '/detail/' + ${i.id} }">
    <h4 th:text="${i.title}">바지</h4>
  </a>
  <p th:text="${i.price + '원'}">7억</p>
    <a th:href="@{ '/edit/' + ${i.id} }">✏️</a> 
    <span th:onclick="fetch('/item?id=[[${i.id}]]', {method : 'DELETE'})
      .then(r => r.text())
      .then(() => {
        location.reload();
      })
      ">🗑️</span>
  </div>
</div>

</body>
</html>


///////////////////////////////////

<button class="btn">버튼</button>
  
<script>
  document.querySelectorAll('.btn')[0].addEventListener('click', function(){
  fetch('/test', {
    method : 'POST',
    headers : {
      "Content-Type": "application/json",
    },
    body : JSON.stringify({title : 'kim', price : 123})
  })
  })  
</script>
  




