<div class="nav" th:fragment="navbar">
    <a href="/" class="logo">SpringMall</a>
    <a href="/list">List</a>
    <a href="/write">Write</a>
    <a href="/register">register</a>
    <a href="/login">login</a>
    <a href="/my-page">mypage</a>
<!--    <a href="/logout">logout</a>-->
</div>



/////////////////////////
<div class="nav" th:fragment="navbar">
    <a href="/" class="logo">SpringMall</a>
    <a href="/list">List</a>
    <a href="/write">Write</a>
</div>

/////////////////////////
<div class="nav" th:fragment="navbar">
  <a class="logo">SpringMall</a>
  <a href="/list">List</a>
  <a href="/write">Write</a>
</div>
